/* Card Flip POC */

/*********************************************************
	Global Styles
*********************************************************/
html, body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: Helvetica;
	color: #000;

	user-select: none;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}
#main {
	padding: 50px;
	font-size: 6pt;	/* Controls the size of the card */
}
a {
	text-decoration: none;	
}

/*********************************************************
	Card Structure
*********************************************************/
.card-container {
	width: 30em;
	height: 45em;
	float: left;
	margin: -4em 0 0 2em;
	z-index: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-perspective: 500;
}
.card {
	position: relative;
	width: 30em;
	height: 45em;
	left: 1em;
	top: 2.8em;
	cursor: pointer;
	z-index: 1;
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform, margin;
	-webkit-transition-duration: .35s;
}

/* Animate card flipping */
.card.flipped {
	/*-webkit-transform: rotateY(-180deg) scale(1.5, 1.5); -- with scale*/
	-webkit-transform: rotateY(-180deg);
	z-index: 9 !important;
}
.face {
	position: absolute;
	width: 28.1em;
	height: 38.1em;
	padding: 2.8em 1.1em 4.1em .8em;
	background: no-repeat;
	background-size: 100% 100%;
	-webkit-backface-visibility: hidden;
}
.front {
	background-image: url(../images/bg-card-front.png);
}
.back {
	background-image: url(../images/bg-card-back.png);
	-webkit-transform: rotateY(180deg);
}
.shine {
	width: 28.1em;
	height: 38.1em;
	margin-top: -38.1em;
	background: no-repeat;
	background-size: 100% 100%;
	background-image: url(../images/shine.png);	
}

/*********************************************************
	Card Content
*********************************************************/
.corner {
	width: 7em;
	height: 7em;
	background: url(../images/corner-featured.png);
	background-size: 100% 100%;
	margin: 0 0 -7em 21.1em;
}
.offer-header {
	width: auto;
	height: 8.3em;
	margin-top: 1.5em;
	overflow: hidden;
}
.offer-value, .offer-title, .expiration, .description, .buttons {
	width: auto;
	margin-left: 1.5em;
	font-size: 1.2em;
}
.offer-value, .expiration {
	display: block;
	font-size: 1.5em;
	margin: 0 0 0 1.5em;
}
.offer-title {
	font-size: 2.3em;
	font-weight: bold;
	margin-top: .1em;
	margin-bottom: .1em;
	margin-left: 0.95em;
	display: inline-block;
	line-height: 1em;
}
.offer-title a {
	color: #666;	
}
.offer-title a:hover {
	color: blue;	
}
.offer-title h3 {
	margin: 0;
	padding: 0;	
}

/* Product Image */
.offer-image {
	display: block;
	width: 22em;
	height: 22em;
	margin-left: 2.9em;
}

/* Icons */
.icon-bar {
	display: block;
	color: #9c9c9c;
	width: 25em;
	height: 4.5em;
	margin-left: 1.5em;
	margin-top: .8em;
	margin-bottom: 1.5em;
	background: url(../images/bg-icons.png) no-repeat;
	background-size: 100% 100%;
	overflow: auto;
}
.icon {
	height: 3.6em;	
	float: left;
	margin: .5em 0em .5em 1.4em;
}
.icon div {
	width: 3.6em;
	height: 3.63em;
	display: inline-block;
	vertical-align: middle;
	background: no-repeat;
	background-size: 100% 100%;	
}

/* Icon image assignments */
.friends div { background-image: url(../images/icon-friends.png); }
.redeemed div { background-image: url(../images/icon-redeemed.png); }
.hearts div { background-image: url(../images/icon-heart.png); }
.icon span {
	font-size: 2em;
	text-align: center;
	vertical-align: middle;
}
.icons .disabled {
	color: #dfdfdf;	
}

/* Back of Card */
.back .offer-header {
	height: 12em;
	margin-top: 1.5em;
}
.expiration {
/*
	margin-top: .5em;	
*/
}
p.description { line-height: 1.5em; }
.description {
	margin: 0;
	padding-right: 1.8em;
	margin-left: 1.9em;
	display: block;
	height: 9em;
}
.description span {
	font-size: 1.1em;
}
.buttons {
	padding-top: 1em;
	margin-left: 1.5em;
}
.btn {
	display: inline-block;
	background: #ddd;

/*background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
background: linear-gradient(top,  #ffffff 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );*/

	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2em 2em;
	padding: 1em;
	color: #666;
	border-radius: 1em;
	border: .3em solid #666;
	width: auto;
	height: 1.7em;
	line-height: 1.7em;
	vertical-align: middle;
	text-align: center;
	margin-bottom: .5em;
}
.btn:hover {
	background-color: #cccccc;
	color: #fff;
}
.btn span {
	display: block;
	font-size: 1.5em;	
}
.btn.add {
	width: 60%;
}
.btn.private {
	background-image: url(../images/icon-private.png);
	width: 2em;
}
.btn.heart {
	background-image: url(../images/icon-heart.png);
	width: 35%;	
}
.btn.details {
	width: 35%;
}
.btn span span {
	display: none;	
}

/*********************************************************
	Mobile Syles
*********************************************************/

@media screen and (max-device-width: 480px) {
	html {
		
	}
	body {
	  	margin: 10px;
	  	width: auto;
	}
	
	#guides ul li,
	#samples .list {
	  	float: none;
	  	margin: 0 auto 10px;
	  	width: 172px;
	}
	
	#share-app li {
	  	margin: 0 0 10px 0;
	}
	
	#share-app {
  		float: right;
  		width: 180px !important;
	}
	
	#share-app p {
  		float: left;
  		margin-left: 0px;
	}
	
	#get-started .code {
		font-size:16px !important;
	}
	
	.card-container {
		margin: -4em 1em 0 0;
	}
	
	#main {
		padding: 1em 0 0 0 !important;
		font-size: 3.65pt !important;
	}
	.offer-header {
		width: auto;
		height: 8.3em;
		margin-top: 1.5em;
		overflow: hidden;
	}
	.offer-title {
		font-size: 2.3em;
		font-weight: bold;
		margin-top: .1em;
		margin-bottom: .1em;
		margin-left: 0.95em;
		display: inline-block;
		line-height: 1em;
	}
	.back .offer-header {
		height: 12em;
		margin-top: 1.5em;
	}
	.description {
		display: none;
	}
	.description span {
		display: none;
	}
	.expiration, .offer-value {
		line-height: 1em;
		margin-bottom: .5em;
		text-transform: uppercase;
	}
	.icon {
		margin-top: -0.4em;
	}
	.icon div {
		
	}
	.icon span {
		
	}
	.btn {
		height: 2em;
		line-height: 2em;
		padding: 1em;
		margin-bottom: 1em;
	}
	.btn.add {
		width: 85%;
	}
	.btn.private {
		background-image: url(../images/icon-private.png);
		float: left;
		margin-right: 1em;
		width: 36%;
	}
	.btn.heart {
		background-image: url(../images/icon-heart.png);
		width: 35%;	
	}
	.btn.details {
		width: 85%;
	}
}

@media screen and (max-device-width: 800px) {
	html, body {
		
	}
	
	#main {
		padding: 2em 0 0;
		font-size: 5.6pt;
	}
	#share-app {
  		float: right;
  		width: 370px;
	}
}
